h3 Complete Jobs
    ul
        - completedJobs.forEach(function(job){
            li 
                span.name= job.name
                |  - 
                span.status= job.status
                |  - 
                a(href="/readd/"+job.id) Restart
        - })