!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://yui.yahooapis.com/3.4.0/build/yui/yui-min.js")
    script(src="/javascripts/hand-brake.js")
  body.yui3-skin-sam!= body