body {
  padding: 50px;
  font: 12px Helvetica, Arial, sans-serif;
    background:#cccad7;
    color:#234;
}

body,ul,div,li,p,ol{
    margin:0;
    padding:0;
}

a {
  color: #00B7FF;
}

h1{
    font-size:36px;
    text-shadow:3px 3px 7px rgba(0,0,0,0.15);
}

label{
    font-size:12px;
    display:block;
}

fieldset{
    padding:10px 20px;
    border:1px solid rgba(128,128,128,.35);
    background:rgba(255,255,255,.65);
    box-shadow:5px 5px 20px rgba(0,0,0,0.25);
    margin-bottom:35px;
}

fieldset legend{
    font-weight:bold;
    font-size:16px;
}

fieldset field{
    display:block;
    padding-bottom:10px;
}

input[name=path]{
    width:350px;
}

ol li{
    margin-left:35px;
}

ul ul li, ul ol li{
    margin-bottom:10px;
}

.hand-brake{
    width:900px;
    margin:50px auto;
    padding:12px 25px 25px 25px;
    background:white url(/images/hb-icon.png) no-repeat 795px 25px;
    box-shadow:0 10px 40px rgba(0,0,0,.45);
    border:2px solid #9ab;
}

.add-jobs, .jobs-queue{
    overflow:hidden;
    width:900px;
}

.add-jobs .add-job, .jobs-queue .job-queue{
    float:left;
    list-style:none;
    width:400px;
}

.jobs-queue .job-queue:first-child, .add-jobs .add-job:first-child{
    margin-right:50px;
}